name: Build OptiLoader-Proof

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Verify Gradle wrapper exists
        run: ls -la && ls -R gradle || echo "Gradle folder not found!"

      - name: Grant execute permission for Gradle
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew clean build --no-daemon

      - name: Upload built jar
        uses: actions/upload-artifact@v4
        with:
          name: OptiLoader-Proof
          path: build/libs/**/*.jar
